.react-calendar {
    border-radius: 4px;
    width: auto;
    
    background: white;
    line-height: 1.125em;
    overflow: hidden;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
}

.react-calendar__tile {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}